<aside>
    <p>Here is the project that we did in Maker Lab ! You can have a look at it if you want ! :)</p>
    &copy Kevin Tran
    <a href='/files/MakerLab Project.pdf' download >
    Project</a> 
</aside>