<head>
    <link rel="stylesheet" href="/css/home.css">
</head>
<aside>
  <h2>Latest news about Kevin</h2>

  <div class="newsWidget">
    {{#each partials.newsContext}}
    <div>
      <h3>{{heading}}</h3>

      {{body}}
    </div>
    {{/each}}

  </div>

  <h2>Don't worry, more stories will come ! :)</h2>

</aside>