<aside>
  <h2 style="color: #EDF5E1">Latest news about Kevin</h2>

  <div class="newsWidget">
    {{#each partials.newsContext}}
    <div>
      <h3 style="color: #EDF5E1">{{heading}}</h3>

      {{body}}
      </a>
    </div>
    {{/each}}

  </div>

  <h2 style="color: #EDF5E1">Don't worry, more stories will come ! :)</h2>

</aside>